<html>
  <head>
  <style>
  body{
    background: <%=
     if player_guess > answer || player_guess < answer
      'red'  
    elsif player_guess == answer
      'green'
    end
    %> ;
  }
  </style>
  </head>
  <body>
    <p>
      The ANSWER is <%= answer %>
    </p>
    <p>
      <%= response %>
    </p>
    <form>
      <input type="text" name="guess">
      <input type="submit" value="Guess!">
    </form>
  </body>
</html>
