<html>
  <head>
  <style>
  body{
    background: orange;
  }
  </style>
  
  
  
  
  
  
  </head>
  
  
  
  
  <body>
    <p>
      The ANSWER is <%= answer %>
    </p>
    <p>
      <%= response %>
    </p>
    <form>
      <input type="text" name="guess">
      <input type="submit" value="Guess!">
    </form>
  </body>
</html>
